<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <Include>
            [UniversalDeviceToolkit.Lib]*
            [UniversalDeviceToolkit.Lib.Automation]*
            [UniversalDeviceToolkit.Lib.Macro]*
            [UniversalDeviceToolkit.WPF]*
            [UniversalDeviceToolkit.CLI]*
            [UniversalDeviceToolkit.CLI.Lib]*
            [UniversalDeviceToolkit.CrossPlatform]*
          </Include>
          <Exclude>
            [UniversalDeviceToolkit.Tests]*
            [UniversalDeviceToolkit.Tests.Contracts]*
            [UniversalDeviceToolkit.Tests.Stateful]*
            [UniversalDeviceToolkit.Tests.Infrastructure]*
            [UniversalDeviceToolkit.Fast.Tests]*
            [UniversalDeviceToolkit.CrossPlatform.Tests]*
            [*.Tests]*
          </Exclude>
          <SkipAutoProps>true</SkipAutoProps>
          <Threshold>50</Threshold>
          <ThresholdType>line</ThresholdType>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
